<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion</title>
    <link rel="stylesheet" href="../static/css/info.css">
</head>
<body>
    <div>
        <aside><img src="../static/images/terminos.png" alt="terminos Image" />
        </aside>
        <main>
          <h1>Informacion</h1>
          <p>
            Para recibir nuestros servicios, debes tener la mayoría de edad legal en tu jurisdicción, y 
            poseer la autoridad legal, el derecho y la libertad para participar en estos Términos como un acuerdo vinculante. 
            <em>No tienes permitido utilizar esta página web y / o recibir servicios si hacerlo está prohibido en tu país o en virtud de cualquier ley o regulación aplicable a tu caso. 
              </em>
          </p>
          <a href="/">
          <button>Volver</button></a>
        </main>
      </div>
</body>
</html>